#title {
  text-align: center;
  color: 	#002F65;
}

.sideNav {
  background-color: #f1f1f1;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 5px;
  width: 100%;
  display: inline-block;
}
.sideNav div {
  background-color: #a7b3c6;
  color: 	#002F65;
  margin:5px;
  height:40px;
  text-align: center;
  cursor: pointer;
  cursor: hand;
  display: flex;
  align-items: center;
  justify-content: center;
}
